*{
	margin:0px;
	box-sizing: border-box;
}

body{
	font-size: 24px;
	font-family: "Abel"
}

section{
	position: relative;
	border: 1px solid black;
	background-color: #f4f6ff;
	margin: 10px 20px 10px 25px;
}

h2{
	position: absolute;
	right: 0;
	padding: 2px 18px 2px 18px;
	border: 1px solid black;
	font-size: 125%;
	text-align: center;
}

p{
	padding: 50px 20px 10px 20px;
	text-align: justify;
}

h1{
	font-size: 175%;
	text-align: center;
}
#bck1{
	background-color: #fbd46d;

}
#bck2{
	background-color:#4f8a8b;

}
#bck3{
	background-color: #c4fb6d;

}


@media (min-width: 992px) {

  .col-lg-4{
    float: left;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
   .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media (max-width: 767px) {
	.col-lt-12 {
    float: left;
  }
  .col-lt-12 {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
   .marginM{
    margin-left: 0px;
	}
}
@media (min-width: 992px) {
	.marginL{
		margin-left: 0px;
		margin-right: 0px;
	}
}
@media (max-width: 767px) {
	.marginP{
    margin-left: 55px;
	margin-right: 55px;
  }
}

